[submodule "sdks"]
	path = sdks
	url = https://github.com/gradientgeeks/aerostream-sdk.git
[submodule "ui"]
	path = ui
	url = https://github.com/gradientgeeks/aerostream-ui.git
[submodule "docs"]
	path = docs
	url = https://github.com/gradientgeeks/aerostream-docs.git
[submodule "examples"]
	path = examples
	url = https://github.com/gradientgeeks/aerostream-examples.git
